*{
    margin: 0;
    border: 0;
    box-sizing: border-box;
    font-family: 'Montserrat', sans-serif;
}
body{
   background: #F5F5F5;
   display: flex;
   align-items: center;
   justify-content: center;
   height: 90vh;
   padding: 5px;
}
.container{
    display: flex;
    padding: 20px;
    width: fit-content;
    height: fit-content;
    gap: 9%;
    margin: auto;
    background: white;
    border-radius: 13px;
   box-shadow: 0px 0px 10px  rgb(213, 213, 213);
}

.section_1,.section_2{
display: flex;
padding: 16px;
border-radius: 13px;
align-self: center;
flex-direction: column;
flex-wrap: wrap;
}

.section_2{
    gap: 10px;
    align-content: center;
}
.name{
    font-size: larger;
}
img{
    height: 230px;
    width: 230px;
    border-radius: 50%;
}
h2{
    text-align: center;
}
.dataids{
    display: flex;
   
}
.dataids span{
    font-weight: 550;
}
.dataids a{
word-break: break-all;
text-decoration: none;
}
@media (max-width:764px) {
   .container{
    flex-wrap: wrap;
    justify-content: center;
   } 
}